* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannerAnimate {
  width: 100%;
  margin: 0 auto;
  min-width: 1000px;
  min-height: 155px;
  max-height: 240px;
  height: 9.375vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .layer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
    }

    img[data-name='4'] {
      position: absolute;
      top: -1vw;
    }

    img[data-name='8'] {
      position: absolute;
      top: 0.5vw;
    }

    img[data-name='13'] {
      position: absolute;
      left: 2vw;
    }

    img[data-name='17'] {
      position: absolute;
      right: -3vw;
    }

    img[data-name='20'] {
      position: absolute;
      left: -3vw;
    }

    img[data-name='22'] {
      position: absolute;
      right: -3vw;
    }

    // img[data-id='17'] {
    //   display: none;
    // }
  }
}

.pc-index-largeHeader {
  .pc-index-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px 0 24px;
    height: 64px;
    width: 100%;

    .pc-index-header-left {
      list-style: none;
      display: flex;
      height: 64px;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      min-width: 516px;

      svg {
        height: 18px;
        width: 18px;
        margin-right: 6px;
      }

      a {
        display: flex;
        align-items: center;
      }

      .default-entry {
        text-decoration: none;
        list-style: none;
        color: #ffffff;
        padding: 0 0 0 20px;
      }

      .entry {
        text-decoration: none;
        list-style: none;
        color: #ffffff;
        padding: 0 0 0 20px;
      }
    }

    .pc-index-centerSearch {
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 auto;

      .pc-index-centerSearch-form {
        position: relative;
        width: 100%;
        min-width: 181px;
        max-width: 500px;
        background-color: #fff;
        padding: 0 48px 0 4px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;

        .centerSearchText {
          width: 100%;
          height: 32px;

          .text {
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            font-size: 14px;
            padding: 0 8px;
          }

          .text:focus {
            outline: none;
            border: 2px solid transparent;
            background-color: rgb(211, 220, 221);
            border-radius: 6px;
          }
        }

        .centerSearchSvg {
          position: absolute;
          right: 15px;
          top: 10px;
          width: 17px;
          height: 17px;
          color: black;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .pc-index-header-right {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding-right: 48px;
      min-width: 508px;

      .pc-index-header-infPopover {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        min-width: 50px;
        align-items: center;
        font-size: 13px;


        .pc-index-header-imgBorder {
          width: 36px;
          height: 36px;
          border: 1px solid #fff;
          background-color: #00AEEC;
          letter-spacing: 0;
          font-size: 14px;
          border-radius: 50%;
          text-align: center;

          span {
            font-size: inherit;
            line-height: 36px;
            text-align: center;
          }
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .pc-index-header-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        div {
          width: 90px;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fb7299;
          border-radius: 8px;
          margin-left: 18px;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
}