* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .pc-index-header-left {
    font-size: 14px;
  }

  .pc-index-header-nav {
    height: 110px;
  }

  .pc-index-header-nav-right {
    width: 168px;
    font-size: 13px;
  }

  .pc-index-header-nav-center {
    grid-template-columns: repeat(9, 1fr);

    li {
      height: 22px;
    }

    li:nth-child(n+19) {
      position: absolute;
      top: -999px;
    }

    li:nth-child(-n+18) {
      position: static;
    }

  }
}

@media (min-width: 1100px) {
  .pc-index-header-left {
    font-size: 14px;
  }

  .pc-index-header-nav {
    height: 110px;
  }

  .pc-index-header-nav-right {
    width: 230px;
  }

  .pc-index-header-nav-center {
    grid-template-columns: repeat(9, 1fr);

    li:nth-child(n+19) {
      position: absolute;
      top: -999px;
    }

    li:nth-child(-n+18) {
      position: static;
    }
  }
}

@media (min-width: 1367px) {
  .pc-index-header-nav {
    padding: 0 60px;
    height: 110px;
  }

  .pc-index-header-nav-center {
    grid-template-columns: repeat(11, 1fr);

    li {
      height: 26px;
    }

    li:nth-child(n+23) {
      position: absolute;
      top: -999px;
    }

    li:nth-child(-n+22) {
      position: static;
    }
  }

  .pc-index-header-nav-right {
    font-size: 13px;
  }
}

@media (min-width: 1700px) {
  .pc-index-header-nav {
    padding: 0 140px;
    height: 120px;
  }

  .pc-index-header-nav-right {
    width: 258px;
    font-size: 14px;
  }

  .pc-index-header-nav-center {
    grid-template-columns: repeat(12, 1fr);

    li {
      height: 30px;
    }

    li:nth-child(n+25) {
      position: absolute;
      top: -999px;
    }

    li:nth-child(-n+24) {
      position: static;
    }
  }

  .pc-index-header-nav-right {
    font-size: 14px;
  }
}

@media (min-width: 2200px) {
  .pc-index-header-left {
    font-size: 16px;
  }

  .pc-index-header-nav {
    height: 130px;
  }

  .pc-index-header-nav-center {
    grid-template-columns: repeat(14, 1fr);

    li:nth-child(n+29) {
      position: absolute;
      top: -999px;
    }

    li:nth-child(-n+28) {
      position: static;
    }
  }

  .pc-index-header-nav-right {
    font-size: 14px;
  }
}

.pc-loginMask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  z-index: 9998;

  .pc-login {
    display: flex;
    flex-wrap: nowrap;
    width: 820px;
    height: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    background-image: url(../../../assets/images/logo/22_open.4ea5f239.png), url(../../../assets/images/logo/33_open.f7d7f655.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 100%, 100% 100%;
    background-size: 14%;
    padding: 52px 65px 29px 92px;

    .close-pc-login {
      background-image: url(../../../assets/images/logo/close.a35a1809.svg);
      width: 32px;
      height: 32px;
      position: absolute;
      background-position: center;
      top: 29px;
      right: 34px;
    }

    .pc-login-left {
      width: 173px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pc-login-left-title {
        margin-bottom: 26px;
        font-size: 18px;
        font-weight: 500;
        color: #505050;
        font-family: PingFang SC;
      }

      .pc-login-left-imgBorder {
        width: 173px;
        height: 173px;
        border: 1px solid #e3e5e7;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 160px;
          height: 160px;
        }
      }


      .pc-login-left-bottom {
        margin-top: 18px;
        font-size: 13px;
        font-family: PingFang SC;
        color: #505050;
        font-weight: 500;
        line-height: 19px;
      }
    }

    .pc-login-middle {
      width: 1px;
      background-color: #e3e5e7;
      margin: 43px 44px 0 45px;
      height: 228px;
    }

    .pc-login-right {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pc-login-right-tab {
        display: flex;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 24px;

        span {
          color: #505050;
        }

        .pc-login-right-tab-middle {
          width: 1px;
          background-color: #e3e5e7;
          margin: 0 21px;
        }

        .active {
          color: #00AEEC;
        }
      }

      .pc-login-right-inputTable {
        display: flex;
        flex-direction: column;
        width: 400px;

        .pc-login-right-input {
          width: 100%;
          height: 90px;
          border: 1px solid #e3e5e7;
          border-radius: 8px;
        }

        .pc-login-right-inputButton {
          margin-top: 20px;
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          font-size: 14px;

          .pc-login-right-inputButton-left {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e3e5e7;
            height: 100%;
            width: 194px;
            background-color: #fff;
            border-radius: 8px;
            cursor: pointer;
          }

          .pc-login-right-inputButton-right {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e3e5e7;
            height: 100%;
            width: 194px;
            background-color: #00AEEC;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
          }
        }
      }

    }
  }
}


.pc-loginCard {
  position: absolute;
  width: 361px;
  height: 236px;
  bottom: -236px;
  opacity: 0;
  display: none;
  transition: all 0.3s;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  border: 1px solid #e3e5e7;
  border-radius: 8px;
  background-color: #fff;

  .pc-loginCard-content {
    padding: 22px 20px 22px 20px;

    .pc-loginCard-content1 {
      color: black;
      margin-bottom: 15px;
    }

    .pc-loginCard-content2 {
      display: flex;
      flex-wrap: wrap;
      color: black;

      .pc-loginCard-content2-littleBox {
        width: 159.5px;
        height: 26px;
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        svg {
          width: 24px;
          height: 24px;
          fill: #00AEEC;
        }

        span {
          padding-left: 5px;
        }
      }

    }

    .pc-loginCard-content3 {
      width: 100%;
      height: 40px;
      background-color: #00AEEC;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 8px;
    }

    .pc-loginCard-content3:hover {
      background-color: #00b5e5;
    }

    .pc-loginCard-content4 {
      margin-top: 16px;
      display: flex;
      justify-content: center;

      span {
        color: black;
      }
    }
  }
}

.pc-loginCard-visible {
  opacity: 1;
  transform: translateY(5px);
}


.pc-index-largeHeader {

  .pc-index-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px 0 24px;
    height: 64px;
    width: 100%;

    .pc-index-header-left {
      list-style: none;
      display: flex;
      height: 64px;
      justify-content: center;
      align-items: center;
      min-width: 516px;

      svg {
        height: 18px;
        width: 18px;
        margin-right: 6px;
      }

      a {
        display: flex;
        align-items: center;
      }

      .default-entry {
        text-decoration: none;
        list-style: none;
        color: #ffffff;
        padding: 0 0 0 20px;
      }

      .entry {
        text-decoration: none;
        list-style: none;
        color: #ffffff;
        padding: 0 0 0 20px;
      }
    }

    .pc-index-centerSearch {
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 auto;

      .pc-index-centerSearch-form {
        position: relative;
        width: 100%;
        min-width: 181px;
        max-width: 500px;
        background-color: #dee6e8;
        padding: 0 48px 0 4px;
        height: 40px;
        border: 1px solid #dee6e8;
        border-radius: 6px;
        display: flex;
        align-items: center;

        .centerSearchText {
          width: 100%;
          height: 32px;

          .text {
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            font-size: 14px;
            padding: 0 8px;
            background-color: #dee6e8;
          }

          .text:focus {
            outline: none;
            border: 2px solid transparent;
            background-color: rgb(211, 220, 221);
            border-radius: 6px;
          }
        }

        .centerSearchSvg {
          position: absolute;
          right: 15px;
          top: 10px;
          width: 17px;
          height: 17px;
          color: black;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .pc-index-centerSearch-form:hover {
        border: 1px solid #dee6e8;
        background-color: #fff;
      }
    }

    .pc-index-header-right {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding-right: 48px;
      min-width: 508px;

      .pc-index-header-infPopover {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        min-width: 50px;
        align-items: center;
        font-size: 13px;


        .pc-index-header-imgBorder {
          width: 36px;
          height: 36px;
          border: 1px solid #fff;
          background-color: #00AEEC;
          letter-spacing: 0;
          font-size: 14px;
          border-radius: 50%;
          text-align: center;

          span {
            font-size: inherit;
            line-height: 36px;
            text-align: center;
          }
        }

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .pc-index-header-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        div {
          width: 90px;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fb7299;
          border-radius: 8px;
          margin-left: 18px;

          svg {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .pc-index-fixedHeader {
    position: fixed;
    top: -64px;
    background-color: #fff;
    margin: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s;

    .pc-index-fixedHeader-logo {
      svg {
        width: 64px;
        height: 100%;
        fill: #00AEEC;
        margin-left: 20px;
        cursor: pointer;
      }
    }

    svg {
      color: black;
    }

    span {
      color: black;
    }
  }

  .bannerAnimate {
    width: 100%;
    margin: 0 auto;
    min-width: 1000px;
    min-height: 155px;
    max-height: 240px;
    height: 9.375vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .pc-index-header-logo {
      height: 78px;
      width: 162px;
      position: absolute;
      bottom: 2vh;
      left: 10vw;
      z-index: 999;
    }

    .layer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
      }

      img[data-name='4'] {
        position: absolute;
        top: -1vw;
      }

      img[data-name='8'] {
        position: absolute;
        top: 0.5vw;
      }

      img[data-name='13'] {
        position: absolute;
        left: 2vw;
      }

      img[data-name='17'] {
        position: absolute;
        right: -3vw;
      }

      img[data-name='20'] {
        position: absolute;
        left: -3vw;
      }

      img[data-name='22'] {
        position: absolute;
        right: -3vw;
      }

      // img[data-id='17'] {
      //   display: none;
      // }
    }
  }



  .pc-index-header-nav {
    margin: 0 auto;
    width: 100%;
    max-width: calc(1980px + 2 * 140px);
    display: flex;
    align-items: center;

    .pc-index-header-nav-left {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      text-align: center;
      font-size: 15px;

      li {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        cursor: pointer;

        div {
          height: 46px;
          width: 46px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 5px;
        }
      }



    }

    .pc-index-header-nav-largeRight {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      .pc-index-header-nav-center {
        // width: 84%;
        min-width: 850px;
        flex-grow: 1;
        display: grid;
        grid-auto-flow: column;
        // justify-content: space-between;
        list-style: none;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 0;
        grid-gap: 10px;
        overflow: hidden;
        margin-right: 20px;
        font-size: 14px;
        color: #61666d;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f6f7f8;
          border-radius: 6px;
          cursor: pointer;
        }

        li:hover {
          background-color: #e3e5e7;
        }
      }

      .pc-index-header-nav-right {
        min-width: 230px;
        display: grid;
        height: 65%;
        // width: 258px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        grid-row-gap: 10px;
        border-left: 1px solid #e3e5e7;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}