* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.index-headBox {
  width: 100%;
  height: 22.4vmin;
  min-height: 22.4vmin;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.index-headBox a:active,
.index-headBox a:focus {
  color: #fb7299;
}
.index-headBox .header {
  width: 100%;
  height: 11.7333vmin;
  line-height: 11.7333vmin;
  padding: 0 3.2vmin 0 4.8vmin;
}
.index-headBox .header .headerLeft {
  width: 17.6vmin;
  height: 8vmin;
  float: left;
}
.index-headBox .header .headerLeft img {
  width: 100%;
  height: 100%;
  margin-top: 1.86667vmin;
}
.index-headBox .header .headerRight {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}
.index-headBox .header .headerRight .headerRightSearch {
  margin-right: 5.86667vmin;
  width: 5.86667vmin;
  height: 5.86667vmin;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-headBox .header .headerRight .headerRightSearch svg {
  min-width: 5.86667vmin;
  min-height: 5.86667vmin;
}
.index-headBox .header .headerRight .headerRightLog {
  width: 6.4vmin;
  height: 6.4vmin;
  border-radius: 3.2vmin;
  margin-right: 3.2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.index-headBox .header .headerRight .headerRightLog .headerRightLogBtn {
  min-width: 12.8vmin;
  min-height: 12.8vmin;
  max-height: 12.8vmin;
  max-width: 12.8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  color: #f69;
  font-size: 4.53333vmin;
  font-weight: 600;
  text-align: center;
  transform: scale(0.5);
  transform-origin: center center;
  white-space: nowrap;
}
.index-headBox .header .headerRight .headerRightDownload {
  margin-left: 2.13333vmin;
  width: 19.2vmin;
  height: 6.4vmin;
  background-color: #ff6699;
  color: #fff;
  text-align: center;
  line-height: 6.4vmin;
  font-size: 3.2vmin;
  white-space: nowrap;
  border-radius: 1.06667vmin;
}
.index-headBox .navigation {
  width: 100%;
  height: 10.66667vmin;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}
.index-headBox .navigation .navigationTitleList {
  overflow: hidden;
}
.index-headBox .navigation .navigationTitleList ul.navigationTitle {
  text-align: center;
  height: 100%;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
  touch-action: none;
  touch-action: pan-x;
}
.index-headBox .navigation .navigationTitleList ul.navigationTitle a {
  font-size: 3.73333vmin;
  padding: 0 4.26667vmin;
}
.index-headBox .navigation .navigationIcon {
  float: right;
  background-color: #fff;
  color: #aaa;
  margin: 0 2.66667vmin;
  margin-top: 1.3333vmin;
  z-index: 20;
}
.index-headBox .moveUnderline {
  margin-top: -0.4vmin;
  color: #212121;
  background-color: #fb7299;
  width: 15.99536542vmin;
  height: 0.5vmin;
  z-index: 20;
  border-radius: 0.5vmin;
  transition: all 0.2s ease-out;
}
.index-headerHr {
  width: 100%;
  height: 0.4vmin;
  position: absolute;
  top: 22.4vmin;
  background-color: #f3f3f3;
  border: 0px solid #000;
  z-index: -10;
}
