* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
}
:root {
  --icon-size: 18px;
  --cover-radio: 9/16;
}
@media (max-width: 1100px) {
  :root {
    --info-marginTop: 8px;
    --title-size: 15px;
    --large-title: 18px;
    --title-line-hight: 22px;
  }
  .pc-index-videoCards {
    padding: 0 60px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1100.1px) {
  :root {
    --title-size: 15px;
    --subtitle-size: 13px;
    --large-title: 18px;
    --info-marginTop: 8px;
    --title-line-hight: 22px;
  }
  .pc-index-videoCards {
    padding: 0 60px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1367px) {
  :root {
    --title-size: 15px;
    --large-title: 18px;
    --info-marginTop: 10px;
  }
  .pc-index-videoCards {
    padding: 0 60px;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1700px) {
  :root {
    --large-title: 20px;
  }
  .pc-index-videoCards {
    padding: 0 140px;
  }
}
@media (min-width: 2200px) {
  :root {
    --title-size: 16px;
    --subtitle-size: 14px;
    --large-title: 20px;
    --title-line-hight: 24px;
  }
  .pc-index-videoCards {
    padding: 0 140px;
  }
}
.pc-index-videoCards {
  width: 100%;
  min-width: 1100px;
  max-width: calc(1980px + 2 * 140px);
  height: auto;
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
}
.pc-index-videoCards .pc-index-videoCards-bigCards {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
  width: 100%;
  position: relative;
  aspect-ratio: 588.39/414.72;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-top {
  aspect-ratio: 16/9;
  width: 100%;
  display: flex;
  position: relative;
  transition: transform 0.4s;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-top img {
  width: 100%;
  aspect-ratio: 16/9;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-bottom-text {
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  height: 25px;
  z-index: 99;
  margin-left: 18px;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-bottom-text span {
  font-size: var(--large-title);
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-dotsList {
  list-style: none;
  display: flex;
  z-index: 99;
  margin-left: 22px;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-dotsList li {
  margin-right: 7px;
  width: 10px;
  height: 10px;
  border-radius: 7px 7px 7px 7px;
  background-color: #8f8782;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-swiper-dotsList .pc-index-swiper-active {
  border: 6px solid #fff;
  background-color: #fff;
}
.pc-index-videoCards .pc-index-videoCards-bigCards button {
  position: absolute;
  z-index: 999;
  width: 28px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 7px;
  cursor: pointer;
}
.pc-index-videoCards .pc-index-videoCards-bigCards button svg {
  height: 12px;
  width: 12px;
}
.pc-index-videoCards .pc-index-videoCards-bigCards #nextImg {
  bottom: 34px;
  right: 30px;
}
.pc-index-videoCards .pc-index-videoCards-bigCards #lastImg {
  bottom: 34px;
  right: 73px;
}
.pc-index-videoCards .pc-index-videoCards-bigCards .pc-index-videoCards-bigCards-mask {
  width: 100%;
  aspect-ratio: 512/600;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-mask-image: linear-gradient(0, #2f3238 11%, transparent 20%);
  background-color: #f27aac;
}
.pc-index-videoCards .pc-index-videoCards-littleCards {
  overflow: hidden;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top {
  position: relative;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  cursor: pointer;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data {
  width: 100%;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  padding: 10px;
  font-size: var(--subtitle-size);
  cursor: pointer;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data .pc-index-videoCards-littleCards-top-data-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data .pc-index-videoCards-littleCards-top-data-left div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data .pc-index-videoCards-littleCards-top-data-left .data-left-second {
  margin-left: 10px;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data svg {
  height: var(--icon-size);
  width: var(--icon-size);
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-top .pc-index-videoCards-littleCards-top-data .pc-index-videoCards-littleCards-top-data-right {
  display: flex;
  align-items: center;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--info-marginTop);
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-title {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  align-items: start;
  font-size: var(--title-size);
  height: calc(2*var(--title-line-hight));
  font-weight: 500;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-title span {
  cursor: pointer;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-up {
  display: flex;
  justify-items: start;
  align-items: center;
  color: #9499a0;
  font-size: var(--subtitle-size);
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-up svg {
  height: 17px;
  width: 17px;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-up span {
  cursor: pointer;
}
.pc-index-videoCards .pc-index-videoCards-littleCards .pc-index-videoCards-littleCards-bottom .pc-index-videoCards-littleCards-bottom-up:hover {
  color: #5ab6f1;
}
.pc-index-videoCards .pc-index-videoCards-lazyLoading {
  width: 100%;
  height: 0;
  padding-bottom: calc(100% * 9 / 16);
  position: relative;
  overflow: hidden;
}
.pc-index-videoCards .pc-index-videoCards-lazyLoading .pc-index-lazyLoading-container {
  position: absolute;
  height: 100%;
  width: 400%;
  background: linear-gradient(-45deg, #f1f2f3 25%, #ffffff 45%, #f1f2f3) 65%;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}
@keyframes skeleton-loading {
  0% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0%);
  }
}
